:root {
  --wf-base400: rgba(203, 210, 224, 1);
  --greysgrey-8: rgba(237, 242, 247, 1);
  --wf-base800: rgba(45, 54, 72, 1);
  --wf-basewhite: rgba(255, 255, 255, 1);
  --wf-base900: rgba(26, 32, 44, 1);
  --wf-base200: rgba(237, 240, 247, 1);
  --wf-base600: rgba(113, 125, 150, 1);
  --WF-buttons-button-medium-font-family: "Inter-Bold", Helvetica;
  --WF-buttons-button-medium-font-weight: 700;
  --WF-buttons-button-medium-font-size: 16px;
  --WF-buttons-button-medium-letter-spacing: -0.16px;
  --WF-buttons-button-medium-line-height: 24px;
  --WF-buttons-button-medium-font-style: normal;
  --WF-body-body-medium-font-family: "Inter-Regular", Helvetica;
  --WF-body-body-medium-font-weight: 400;
  --WF-body-body-medium-font-size: 16px;
  --WF-body-body-medium-letter-spacing: -0.16px;
  --WF-body-body-medium-line-height: 150%;
  --WF-body-body-medium-font-style: normal;
  --WF-buttons-button-large-font-family: "Inter-Bold", Helvetica;
  --WF-buttons-button-large-font-weight: 700;
  --WF-buttons-button-large-font-size: 18px;
  --WF-buttons-button-large-letter-spacing: -0.18px;
  --WF-buttons-button-large-line-height: 24px;
  --WF-buttons-button-large-font-style: normal;
  --WF-buttons-button-small-font-family: "Inter-Bold", Helvetica;
  --WF-buttons-button-small-font-weight: 700;
  --WF-buttons-button-small-font-size: 14px;
  --WF-buttons-button-small-letter-spacing: -0.14px;
  --WF-buttons-button-small-line-height: 24px;
  --WF-buttons-button-small-font-style: normal;
}
